/*Minimal 5 Selector*/

body {
    background-color: #f6f7fc;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

main {
    padding-left: 20px;
}

#navbar {
    display: flex;
    justify-content: left;
    word-spacing: 10px;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    padding-left: 30px;
}

a {
    text-decoration: none;
    color: gray;
}

#education {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 75%;
}

#education td,
th {
    border: 1px solid #ddd;
    padding: 8px;
}

#education tr:nth-child(even) {
    background-color: #f2f2f2;
}

#education tr:hover {
    background-color: #ddd;
}

#education th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

#footer {
    display: flex;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    justify-content: center;
    word-spacing: 10px;
    background-color: white;
    padding-top: 25px;
    padding-bottom: 20px;
    padding-right: 50px;
    padding-left: 30px;
}

.dropbtn {
    background-color: white;
    color: gray;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: white;
}